body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.fixed_panel {
    width: 100%;
    position: fixed;
    background-color: white;
}
.contacts {
    display: inline-block;
    vertical-align:middle;
    padding: 5px 0;
}
.phone {
    font-size: 16px;
}
.email {
    margin-top: 10px; 
    font-size: 16px;
}
.menu {
    float: right;  
}

.button {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0.25em;
    font-family: RobotoMedium;
    line-height: 60px;
    margin-left: 30px;
}
