{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>basket</title>

    <link rel="stylesheet" href = "{% static 'libs/font-awesome-4.5.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href = "{% static 'libs/font-awesome-4.5.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href = "{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href = "{% static 'css/my_css.css' %}">
    <link rel="stylesheet" href = "{% static 'css/fonts.css' %}">

    <link rel="stylesheet" href="{% static 'css/product_bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/basket.css' %}">

  </head>
  <body>
      <div class="fixed_panel" style="z-index:10">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="contacts">
                        <div class="phone">
                            <i class="fa fa-phone-square"></i>
                            8 (985) 426 24 67 
                        </div>
                        <div class="email">
                            <i class="fa fa-envelope"></i>
                            vanja9.10.96@gmail.com
                        </div>
                    </div>
                    <div class="menu">
                        <a href="{% url 'home_page' %}" style="text-decoration: none;color: #333;" class="button">Главная</a>
                        {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}" style="text-decoration:none;color: #333;" class="button">
                            <i class="fa fa-sign-in"></i>
                            Вход
                        </a>
                        {% else %}
                        <a href="{% url 'logout' %}" style="text-decoration:none;color: #333;" class="button">
                            <i class="fa fa-sign-out"></i>
                            Выход
                        </a>
                        {% endif %}
                    </div>    
              </div>
            </div>
        </div>
      </div>
      <div class="container">
          <div class="col-md-4"></div>
          <div class="col-md-4">
              <img src="http://geekapple.ru/wp-content/uploads/2012/10/trash.png" height="300">
          </div>
          <div class="col-md-3"></div>
      </div>
      <div class="container">
          
          <div class="col-md-3">
              <h5 style="text-allign:center">Товар</h5>
          </div>
       
          <div class="col-md-3">
              <h5 style="text-allign:center">Цена</h5>
          </div>
          <div class="col-md-3">
              Удалить
          </div>
          <div class="col-md-3">
             <a href='/payment/cart'><button>
              Оплатить заказ
              </button>
              </a>
          </div>
         
      </div>
      <div class="container" style="background-color:black; height:5px">
      </div>
    {% for elem in cart %}     
      <div class="container" id="{{ elem.product.id }}">
 
          
          <div class="col-md-3">
              <p style="text-allign:center">{{ elem.product.name }}</p>
          </div>

          <div class="col-md-3">
              <p style="text-allign:center">{{ elem.product.price }}</p>
          </div>
          <div class="col-md-3">
           <div class ="del"><a><button id="{{ elem.product.id }}" class="delete"> <i class="fa fa-times" aria-hidden="true"></i> </button></a></div>
			</div>
      </div>
      {% endfor %}
       <script>
            $(document).ready(function(){
            $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
                $( "button.delete" ).click(function(){
                    var current_button = $(this);
                    $.ajax({
                        url: "/remove-from-cart/",
                        type: "POST",
                        data: {"product_id": $(this).attr('id')},
                        success: function(data){
                            var item = document.getElementById(current_button.attr('id'));
                            $(item).replaceWith('');
                        }
                        
                    });
                });
            });
        </script>



 
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
