{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>home page</title>
    <link rel="stylesheet" href = "{% static 'libs/font-awesome-4.5.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href = "{% static 'libs/font-awesome-4.5.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href = "{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href = "{% static 'css/my_css.css' %}">
    <link rel="stylesheet" href = "{% static 'css/fonts.css' %}">

    <link rel="stylesheet" href= "{% static 'css/home_bootstrap.min.css' %}">
    <link rel="stylesheet" href= "{% static 'css/home_style.css' %}">

  </head>
  <body>

    <div class="fixed_panel" style="z-index:10">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="contacts">
                        <div class="phone">
                            <i class="fa fa-phone-square"></i>
                            8 (985) 426 24 67 
                        </div>
                        <div class="email">
                            <i class="fa fa-envelope"></i>
                            vanja9.10.96@gmail.com
                        </div>
                    </div>
                    <div class="menu">
                        <!--<a href="" style="text-decoration: none;color: #333;" class="button">Главная</a>
                        <a href="" style="text-decoration:none;color: #333;" class="button">Товары</a>-->
                        <a href="{% url 'basket' %}" style="text-decoration:none;color: #333;" class="button">
                            <i class="fa fa-shopping-basket"></i>
                            Корзина
                        </a>
                        {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}" style="text-decoration:none;color: #333;" class="button">
                            <i class="fa fa-sign-in"></i>
                            Вход
                        </a>
                        {% else %}
                        <a href="{% url 'logout' %}" style="text-decoration:none;color: #333;" class="button">
                            <i class="fa fa-sign-out"></i>
                            Выход
                        </a>
                        {% endif %}
                   </div>
              </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <img src="{% static 'images/beauty.jpg' %}" width="1200" height="300" />
            </div>
        </div>
    </div>
	{% for item in items %}
	<div class="row" style="position:block">
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="{% static item.image %}" class="img-circle" />  
		</div>
		<div class="col-md-3">
		<div class="col-md-3">
		</div>
			<h2>
				{{ item.name }}
			</h2>
			<h4>
				Цена: {{ item.price }}
			</h4>
			<p>
				{{ item.text }}
			</p>
			<p>
				<a class="btn" href="/product/{{item.id}}">Подробнее</a>
			</p>
		</div>
	</div>
	{% endfor %}
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
