{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>product page</title>

    <link rel="stylesheet" href = "{% static 'libs/font-awesome-4.5.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href = "{% static 'libs/font-awesome-4.5.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href = "{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href = "{% static 'css/my_css.css' %}">
    <link rel="stylesheet" href = "{% static 'css/fonts.css' %}">

    <link rel="stylesheet" href="{% static 'css/product_bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_style.css' %}">

  </head>
  <body>
    <div class="fixed_panel" style="z-index:10">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="contacts">
                        <div class="phone">
                            <i class="fa fa-phone-square"></i>
                            8 (985) 426 24 67 
                        </div>
                        <div class="email">
                            <i class="fa fa-envelope"></i>
                            vanja9.10.96@gmail.com
                        </div>
                    </div>
                    <div class="menu">
                        <a href="{% url 'home_page' %}" style="text-decoration: none;color: #333;" class="button">Главная</a>
                        <a href="{% url 'basket' %}" style="text-decoration:none;color: #333;" class="button">
                            <i class="fa fa-shopping-basket"></i>
                            Корзина
                        </a>
                        {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}" style="text-decoration:none;color: #333;" class="button">
                            <i class="fa fa-sign-in"></i>
                            Вход
                        </a>
                        {% else %}
                        <a href="{% url 'logout' %}" style="text-decoration:none;color: #333;" class="button">
                            <i class="fa fa-sign-out"></i>
                            Выход
                        </a>
                        {% endif %}
                   </div>
              </div>
            </div>
        </div>
    </div>
	
	<div class="row">
		<div class="col-md-6">
			<img alt="Bootstrap Image Preview" src="{% static product.image %}"/>
		</div>
		<div class="col-md-6">
			<h2>
				{{product.name}}
			</h2>
			<p>
				Цена: {{product.price}}
			</p>
			
			
			<p>			    
			<button id="{{ product.id }}" class="add"> 
    Добавить в корзину</button>
			</p>
		</div>
	</div>
	
</div>
     <script>
$(document).ready(function(){
            $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
            });
                $( "button.add" ).click(function(){
    var current_button = $(this);
    $.ajax({
        url: "/add-to-cart/",
        type: "POST",
        data: {"product_id": $(this).attr('id')},
        success: function(data){
          current_button.replaceWith('Added');
        }
    });
   });
});
</script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
